In [1]:
import random as rd
import pandas as pd


def readnum():
    fd = pd.read_excel('体彩大乐透-问卷统计详情.xlsx')
    name = fd.iloc[5:, 0].values
    f5 = fd.iloc[5:, 8].values
    b2 = fd.iloc[5:, 9].values
    return name, f5, b2


if __name__ == '__main__':
    name, f5, b2 = readnum()
    # print(name, f5, b2)

D:\anaconda\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [2]:
df = pd.DataFrame({'姓名': name, '前五个数字': f5, '后两个数字': b2})
df

      姓名           前五个数字  后两个数字
0    王子尧             NaN    NaN
1     肖晖             NaN    NaN
2     陈静             NaN    NaN
3    方泓杰             NaN    NaN
4     姜洁             NaN    NaN
..   ...             ...    ...
154  黄中阳             NaN    NaN
155  孙鑫媛  25,22,32,01,08  10,08
156  冯晓莹  35,11,58,52,09  01,12
157  王宏宙             NaN    NaN
158  张艺方             NaN    NaN

[159 rows x 3 columns]

In [3]:
df = df.dropna()  # 去除Nan值
## 去除nan值之后，重置顺序
df = pd.DataFrame({'姓名': list(df['姓名']), '前五个数字': list(df['前五个数字']), '后两个数字': list(df['后两个数字'])})

In [4]:
# 返回bool列表，方便后续去除数字不够，网址的同学
def TFfun(df, string, num):
    alist = []
    for i in df[string]:
        if len(i) > 40:
            alist.append(False)
            continue
        count = 0
        for j in i:
            try:
                j = int(j)
            except:
                j = str(j)
                if j == ',' or j == '，':
                    count += 1
        alist.append(count == num)
    return alist

In [5]:
# 去除那些数字的不够的同学
droplist5 = TFfun(df, '前五个数字', 4)
droplist2 = TFfun(df, '后两个数字', 1)

In [6]:
# 手动实现交集
TFlist = []
for i in range(len(droplist2)):
    if droplist2[i] == droplist5[i] and droplist2[i] == True:
        TFlist.append(True)
    else:
        TFlist.append(False)

In [7]:
# 筛选出合格的抽奖同学
newdf = df.iloc[TFlist]

In [8]:
# 提取抽奖的号码
"""
每人的抽奖号码中前面的数字通过后面的逗号或空格区别，因为他们没法变成整型，最坏一数字通过循环结束区别
"""
def coulist(newdf, string):
    list5 = []
    for i in newdf[string]:
        temp = []
        temp1 = []
        for j in i:
            try:
                j = int(j)
                temp.append(j)
            except:
                if temp == []:
                    continue
                a = ''
                for i in temp:
                    a = a + str(i)
                temp1.append(a)
                temp = []
        a = ''
        for i in temp:
            a = a + str(i)
        temp1.append(a)
        list5.append(temp1)
    return list5

In [9]:
list5 = coulist(newdf, '前五个数字')
list2 = coulist(newdf, '后两个数字')

In [10]:
# 把list5 的元素转成整型
for i in range(len(list5[0][:])):
    for j in range(len(list5)):
        list5[j][i] = int(list5[j][i])

In [11]:
# 把list2 的元素转成整型
for i in range(len(list2[0][:])):
    for j in range(len(list2)):
        list2[j][i] = int(list2[j][i])

In [12]:
#重新生成一个DataFrame
coujiang = pd.DataFrame({'name': list(newdf['姓名']), 'f5': list5, 'b2': list2})
coujiang

     name                    f5        b2
0    巴桑次仁    [6, 23, 32, 20, 9]   [8, 12]
1     王婉慈    [2, 35, 22, 17, 6]   [5, 11]
2      涂昕     [7, 27, 1, 5, 21]   [7, 27]
3     高冬晓   [17, 25, 33, 49, 7]   [7, 11]
4      柏然   [12, 5, 33, 25, 22]   [11, 3]
..    ...                   ...       ...
103    卢妍  [21, 12, 8, 19, 7, ]  [5, 6, ]
104   叶如锦    [1, 4, 10, 33, 22]   [4, 10]
105   刘子毅       [1, 2, 3, 4, 5]    [1, 2]
106   孙鑫媛    [25, 22, 32, 1, 8]   [10, 8]
107   冯晓莹   [35, 11, 58, 52, 9]   [1, 12]

[108 rows x 3 columns]

In [13]:
#随机生成一个抽奖列表
"""
随机生成，如果已经存在，再重新生成一个，直到没有或满
"""
def coulist(num, st, end):
    coulist = []
    count = 0
    while True:
        temp = rd.randint(st, end)
        if temp in coulist:
            continue
        coulist.append(temp)
        count += 1
        if count == num:
            break
    return coulist

In [14]:
def jiangxiang(f5num, b2num):
    if f5num == 5 and b2num == 2:
        return '一等奖'
    if f5num == 5 and b2num == 1:
        return '二等奖'
    if f5num == 5 and b2num == 0:
        return '三等奖'
    if f5num == 4 and b2num == 2:
        return '四等奖'
    if f5num == 4 and b2num == 1:
        return '五等奖'
    if f5num == 3 and b2num == 2:
        return '六等奖'
    if f5num == 4 and b2num == 0:
        return '七等奖'
    if f5num == 3 and b2num == 1:
        return '八等奖'
    if f5num == 2 and b2num == 2:
        return '八等奖'
    if f5num == 3 and b2num == 0:
        return '九等奖'
    if f5num == 2 and b2num == 1:
        return '九等奖'
    if f5num == 1 and b2num == 2:
        return '九等奖'
    if f5num == 0 and b2num == 2:
        return '九等奖'
    else:
        return 0

In [15]:
# 查看是否中奖，中啥奖
"""
通过计算号码相同的个数实现
"""
def cou(f2l, b2l):
    f5num = 0
    b2num = 0
    for i in f2l:
        if i in f5coulist:
            f5num += 1
    for i in b2l:
        if i in b2coulist:
            b2num += 1
    return jiangxiang(f5num, b2num)

In [16]:
# 创建一个字典计数器，再把它添加到一个列表中，再拿另外一个列表放名字，通过元素的位置来区分，每人的中奖情况
ZJdict = {}
ZJlist = []
ZJname = []
def zhongjiangmingdan(ZJname,ZJlist,ZJdict,f2l,b2l,i):
    if i not in ZJname:
       ZJname.append(i)
       ZJdict={}
       ZJdict[cou(f2l,b2l)] = 1
       ZJlist.append(ZJdict)
    else:
      inDEX=ZJname.index(i)
      if cou(f2l,b2l) not in ZJlist[inDEX]:
          ZJlist[inDEX][cou(f2l,b2l)]=1
      else:
          ZJlist[inDEX][cou(f2l,b2l)] += 1

In [17]:
# 抽一千次
for _ in range(1000):
    f5coulist = coulist(5, 1, 35)
    b2coulist = coulist(2, 1, 12)
    for i in range(len(coujiang)):
        if cou(coujiang.loc[i]['f5'],coujiang.loc[i]['b2']) !=0:
            zhongjiangmingdan(ZJname,ZJlist,ZJdict,coujiang.loc[i]['f5'],coujiang.loc[i]['b2'],coujiang.loc[i]['name'])

In [18]:
#把中奖结果放到DataFrame中
import numpy as np
ds1=pd.DataFrame.from_dict(ZJlist[:])

In [19]:
namedf=pd.DataFrame({'姓名':ZJname})
ds2=ds1.join(namedf)

In [20]:
#重新排列列的顺序
ds2=ds2[['姓名','九等奖','八等奖','七等奖','六等奖','五等奖']]
ds2=ds2.replace(np.nan,0)
ds2

      姓名  九等奖  八等奖  七等奖  六等奖  五等奖
0     涂昕   43  3.0  0.0  0.0  1.0
1    丁高祥   67  8.0  0.0  0.0  0.0
2    徐可晗   73  7.0  0.0  0.0  0.0
3    骆婉华   31  2.0  0.0  0.0  0.0
4    姜文涵   40  5.0  0.0  0.0  1.0
..   ...  ...  ...  ...  ...  ...
103   方舟   55  4.0  0.0  0.0  0.0
104  杨可盈    3  0.0  0.0  0.0  0.0
105   刘凡   27  0.0  0.0  0.0  0.0
106  吴政泽   31  2.0  0.0  0.0  0.0
107   蒋昊   16  0.0  1.0  0.0  0.0

[108 rows x 6 columns]